<html ng-app="Genie">

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>



<script>
  var socket = io.connect('http://mclab28.sogang.ac.kr:8080');
  // 서버에 접속할 때, 사용자명을 확인한다.
  socket.on('connect', function(){
    // 서버에 있는 adduser 함수를 호출하며, 하나의 파라미터(prompt의 반환 값)를 전달한다
    var userID = prompt("input your userID!");
    socket.emit('adduser', userID);
  });
  // 리스너: 서버에서 updatechat을 전송할 때마다, 인자 함수가 실행하여 채팅 내용을 업데이트한다
  socket.on('updatechat', function (username, data) {
    $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
  });
  
  // 리스너: 서버에서 updateimg을 전송할 때마다, 인자 함수가 실행하여 채팅 내용을 업데이트한다
  socket.on('updateimg', function (username, path) {
   
    $('#conversation').append('<b>'+username + ':</b> ' + '<br><img src="' + path + '" width="100" height="100"/><br>');
	/*
	$('#conversation').append('<b>'+username + ':</b> ' + '<br><div ng-repeat="image in imageList">
	<img ng-src="{{image.filePath}}" width="100" height="100" data-ng-show="$last" /><font size = "3">
	{{image.name}}</font></div><br> ');  */
	
  });
 
  // 리스너: 서버에서 updateusers을 전송할 때마다, 인자 함수가 실행하여 사용자 목록을 업데이트한다.
  socket.on('updateusers', function(data) {
    $('#users').empty();
    $.each(data, function(key, value) {
      $('#users').append('<div>' + key + '</div>');
    });
  });
  // 페이지 온로드 처리
  $(function(){
    // 클라이언트에서 SEND 버튼을 클릭할 때
    $('#datasend').click( function() {
      var message = $('#data').val();
      $('#data').val('');
      // 서버에서 sendchat 함수를 실행하도록 알려주며, 하나의 파라미터를 전달한다
      socket.emit('sendchat', message);
    });
    // 클라이언트에서 키보드의 엔터키를 입력할 때
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        // SEND 버튼의 클릭 이벤트를 실행한다
        $('#datasend').focus().click();
      }
    });
    //클라이언트에서 파일 제출 버튼을 클릭할 때
    $('#img').click( function() {
      var path = $('#upload').val();
      $('#upload').val('');
      // 서버에서 sendimg 함수를 실행하도록 알려주며, 하나의 파라미터를 전달한다
      socket.emit('sendimg', path);
    });
    
	
  });
</script>



<head>
<title>Tizen web app project</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="controller/controller.js"></script>
</head>
<body ng-controller="helloants">
<h1 style="color:gray;" "font-size:300%;""font-family:verdana;">Multi Chat App</h1>

<div>					
	<ul class="ui-listview">
		<li class="ui-group-index">Menu</li>
		<li class="ui-li-anchor"><a href="http://mclab28.sogang.ac.kr:8080/" class="btn btn-default">Multi Chat</a></li>
		<li class="ui-li-anchor"><a href="http://mclab28.sogang.ac.kr:8080/section1.html">DB search</a></li>		
	</ul>	
</div>

<div style="float:left;width:80px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
  	<b>USERS</b>
 	 <div id="users"></div>
</div>
<div style="float:left;width:200px;height:250px;overflow:scroll-y;padding:10px;">
  	<div id="conversation"></div>
	
	<!--
	<div ng-repeat="image in imageList">	
        <img ng-src="{{image.filePath}}" width="100" height="100" data-ng-show="$last" /> 
		 <iframe width="200" height="100" ng-src="{{image.filePath}}" frameborder="0" allowfullscreen controls></iframe>
		<font size = "3">{{image.name}}</font> 
	</div>	
	<br>  
	 -->
	
	
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
	
	<div>
	<form  action='/upload' method="post" enctype="multipart/form-data" >
		<font size="3">filename :</font>&nbsp;<input type="text" name="name" /> 
        <br>
        <input type='file' name='upload' />
        <input type='submit' name='save' value='imgsave' /> 	
		
	</form>	
		<input type='submit' name='img' id='img' value='upload' />
	</div>
	
</div>	

</body>
</html>






